
.headerText {
  grid-column: 2 / -2;
  width: 100%;
  height: auto;
  color: white;
}

.hideText {
  text-indent: -9999px;
  overflow: hidden;
  position: absolute;
}

.paragraphs {
  grid-column: 2 / span 6;
  line-height: 2.75rem;

  p {
    margin: 4rem 0;

    &:first-child {
      margin-top: 6rem;
    }
  }
}