
$black: #121212;

.background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -200;
  background-color: $black;
}

.orb {
  position: absolute;
  top: -25rem;
  left: -20rem;
  width: 60rem;
  height: 60rem;
  background-image: linear-gradient(to right, #FF2424, #7242FF);
  border-radius: 50%;
  filter: blur(100px);
}