
.background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
}

.orb {
  position: fixed;
  top: 0;
  left: 0;
  width: 40rem;
  height: 40rem;
  background-image: linear-gradient(to right, #FF2424, #7242FF);
  border-radius: 50%;
  filter: blur(100px);
  opacity: 0.5;
}
