
.smile {
  grid-column: 2 / -2;
  width: 100%;
  height: 2rem;
  margin: 2rem 0 !important;
  display: flex;
  align-items: center;
  justify-content: space-between;

  span {
    white-space: nowrap;
  }
  img {
    width: 1.75rem;
    height: auto;
  }

  &:after {
    height: 0;
  }
}

.line {
  grid-column: 1 / -1;
  width: 100vw;
  height: 0.15rem;
  background-color: white;
  margin-top: 5rem
}
