
$grid-width: 7rem;

.container {
  position: relative;
  z-index: 20;
  display: grid;
  grid-template-columns: minmax(1rem, 1fr) repeat(12, minmax(1rem, $grid-width)) minmax(1rem, 1fr) ;
  column-gap: 1.25rem;
  height: auto;
}