
@import "mixins";

.intro_text_star {
  grid-column: 2 / -2;
  width: 100%;
  height: auto;
  margin: 5.5rem 0 0;
  color: white;

  @include mobile() {
    margin: calc(50vh - 5rem) 0 0;
  }
}

.sub_text {
  grid-column: 2 / -2;
  font-size: 1.5rem;
  font-weight: bold;
  height: auto;
  margin: 2rem 0 calc(50vh - 15rem);
}

.hideText {
  text-indent: -9999px;
  overflow: hidden;
  position: absolute;
}
