
@import "mixins";

.preview {
  position: fixed;
  width: 20rem;
  height: 30rem;
  object-fit: cover;
  top: 0;
  left: 0;
  transform: translate(calc(100vw - 26rem), calc(50vh - 15rem));
  opacity: 0;
  pointer-events: none;
  box-shadow: 0 0 150px #121212;
  border: white 2px solid;
  border-radius: 2rem;
  @include mobile() {
    display: none !important;
  }
}
