
.content {
  display: block;
  grid-column: 2 / 7;
  position: sticky;
  top: 17rem;
  margin: 15rem 0 0;

  h1 {
    position: relative;
  }
  p {
    position: relative;
  }
}

.title {
  margin-bottom: 0;
}

.images {
  grid-column: 9 / -2;
  display: flex;
  flex-direction: column;
  margin-top: 15rem;

  img {
    width: 100%;
    height: auto;
  }
}
