
.headerText {
  grid-column: 2 / -2;
  width: 100%;
  height: auto;
  color: white;
}

.hideText {
  text-indent: -9999px;
  overflow: hidden;
  position: absolute;
}

.worksList {
  grid-column: 2 / -2;
  width: 100%;
  list-style-type: none;
  padding: 0;

  li {
    margin: 5rem 0;
  }

  a {
    font-size: 7rem;
    color: white;
    white-space: nowrap;
  }
}